media/xsd/E3_v6.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)
<xs:schema xmlns="http://www.yeka.gr/E3" xml:lang="gr" attributeFormDefault="unqualified" targetNamespace="http://www.yeka.gr/E3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
-->
<xs:schema xmlns="http://www.yeka.gr/E3" xml:lang="gr" attributeFormDefault="unqualified" targetNamespace="http://www.yeka.gr/E3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AnaggeliaE3Type">
        <xs:sequence>
            <xs:element name="f_aa_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>Α/Α ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_rel_protocol">
                <xs:annotation>
                    <xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΑΡΙΘ. ΠΡΩΤ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_rel_date">
                <xs:annotation><xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΗΜΕΡΟΜΗΝΙΑ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ypiresia_sepe" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΚΩΔΙΚΟΣ ΥΠΗΡΕΣΙΑΣ ΣΕΠΕ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ypiresia_oaed" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΚΩΔΙΚΟΣ ΥΠΗΡΕΣΙΑΣ ΟΑΕΔ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{6}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ergodotikh_organwsh">
                <xs:annotation>
                    <xs:documentation>ΕΡΓΟΔΟΤΙΚΗ ΟΡΓΑΝΩΣΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_kyria" nillable="false">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΚΥΡΙΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_1">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 1</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_2">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 2</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_3">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 3</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_4">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 4</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kallikratis_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΔΗΜΟΤΙΚΗ / ΤΟΠΙΚΗ ΚΟΙΝΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{8}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eponymo" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΕΠΩΝΥΜΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eponymo_patros">
                <xs:annotation>
                    <xs:documentation>ΕΠΩΝΥΜΟ ΠΑΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_patros" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ ΠΑΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eponymo_mitros">
                <xs:annotation>
                    <xs:documentation>ΕΠΩΝΥΜΟ ΜΗΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_mitros" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ ΜΗΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_topos_gennhshs">
                <xs:annotation>
                    <xs:documentation>ΤΟΠΟΣ ΓΕΝΝΗΣΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_birthdate" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΓΕΝΝΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_sex" nillable="false">
                <xs:annotation><xs:documentation>ΦΥΛΟ - (0) ΑΝΤΡΑΣ - (1) ΓΥΝΑΙΚΑ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_yphkoothta" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΥΠΗΚΟΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
             <xs:element name="f_typos_taytothtas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΤΥΠΟΣ ΤΑΥΤΟΤΗΤΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-ZΑ-Ω]{1,10}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ar_taytothtas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΤΑΥΤΟΤΗΤΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ekdousa_arxh" >
                <xs:annotation>
                    <xs:documentation>ΕΚΔΟΥΣΑ ΑΡΧΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
             <xs:element name="f_date_ekdosis">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΕΚΔΟΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_date_ekdosis_lixi">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΙΣΧΥΟΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_inst">
				<xs:annotation>
					<xs:documentation>ΑΦΟΡΑ ΑΔΕΙΑ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_res_permit_inst_type">
                <xs:annotation>
                    <xs:documentation>ΕΙΔΟΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_inst_ar">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_inst_lixi">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_ap">
				<xs:annotation>
					<xs:documentation>ΑΦΟΡΑ ΑΔΕΙΑ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ ΓΙΑ ΤΗΝ ΟΠΟΙΑ ΑΠΑΙΤΕΙΤΑΙ ΕΠΙΠΛΕΟΝ ΕΓΚΡΙΣΗ ΓΙΑ ΠΡΟΣΒΑΣΗ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_res_permit_ap_type">
                <xs:annotation>
                    <xs:documentation>ΕΙΔΟΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ ΓΙΑ ΤΗΝ ΟΠΟΙΑ ΑΠΑΙΤΕΙΤΑΙ ΕΠΙΠΛΕΟΝ ΕΓΚΡΙΣΗ ΓΙΑ ΠΡΟΣΒΑΣΗ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_ap_ar">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ ΓΙΑ ΤΗΝ ΟΠΟΙΑ ΑΠΑΙΤΕΙΤΑΙ ΕΠΙΠΛΕΟΝ ΕΓΚΡΙΣΗ ΓΙΑ ΠΡΟΣΒΑΣΗ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ (Αρμοδίας Υπηρεσίας)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_ap_lixi">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ ΓΙΑ ΤΗΝ ΟΠΟΙΑ ΑΠΑΙΤΕΙΤΑΙ ΕΠΙΠΛΕΟΝ ΕΓΚΡΙΣΗ ΓΙΑ ΠΡΟΣΒΑΣΗ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ (Αρμοδίας Υπηρεσίας)</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_visa">
				<xs:annotation>
					<xs:documentation>ΑΦΟΡΑ ΕΠΟΧΙΚΗ ΑΠΑΣΧΟΛΗΣΗ ΠΟΛΙΤΗ ΤΡΙΤΗΣ ΧΩΡΑΣ ΠΟΥ ΕΡΓΑΖΕΤΑΙ ΜΕ ΤΗΝ ΘΕΩΡΗΣΗ ΕΙΣΟΔΟΥ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_res_permit_visa_ar">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΘΕΩΡΗΣΗΣ ΕΙΣΟΔΟΥ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_visa_from">
                <xs:annotation><xs:documentation>ΧΡΟΝΙΚΗ ΔΙΑΡΚΕΙΑ ΙΣΧΥΟΣ ΘΕΩΡΗΣΗΣ ΕΙΣΟΔΟΥ ΑΠΟ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_visa_to">
                <xs:annotation><xs:documentation>ΧΡΟΝΙΚΗ ΔΙΑΡΚΕΙΑ ΙΣΧΥΟΣ ΘΕΩΡΗΣΗΣ ΕΙΣΟΔΟΥ ΕΩΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_marital_status" nillable="false">
                <xs:annotation><xs:documentation>ΟΙΚΟΓ. ΚΑΤΑΣΤΑΣΗ - (0) ΑΓΑΜΟΣ - (1) ΕΓΓΑΜΟΣ - (2) ΔΙΑΖΕΥΓΜΕΝΟΣ - (3) ΧΗΡΟΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_arithmos_teknon" nillable="false">
                <xs:annotation><xs:documentation>ΑΡΙΘΜΟΣ ΤΕΚΝΩΝ</xs:documentation></xs:annotation>
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_afm" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΦΟΡΟΛΟΓΙΚΟΥ ΜΗΤΡΩΟΥ (Α.Φ.Μ.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_doy">
                <xs:annotation>
                    <xs:documentation>Δ.Ο.Υ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_amika">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΜΗΤΡΩΟΥ (Ασφαλισμένου) Ι.Κ.Α.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,20}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_amka" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΜΗΤΡΩΟΥ ΚΟΙΝΩΝΙΚΗΣ ΑΣΦΑΛΙΣΗΣ (Α.Μ.Κ.Α.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,20}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_code_anergias">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΔΕΛΤΙΟΥ ΑΝΕΡΓΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ar_vivliou_anilikou">
                <xs:annotation>
                    <xs:documentation>ΑΡ. ΒΙΒΛΙΑΡΙΟΥ ΑΝΗΛΙΚΟΥ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_dieythinsi">
                <xs:annotation>
                    <xs:documentation>ΔΙΕΥΘΥΝΣΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kallikratis">
                <xs:annotation>
                    <xs:documentation>ΔΗΜΟΤΙΚΗ / ΤΟΠΙΚΗ ΚΟΙΝΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{8})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_tk">
                <xs:annotation>
                    <xs:documentation>Τ.Κ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_til">
                <xs:annotation>
                    <xs:documentation>ΤΗΛΕΦΩΝΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_fax">
                <xs:annotation>
                    <xs:documentation>ΦΑΞ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_email">
                <xs:annotation>
                    <xs:documentation>E-MAIL</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_epipedo_morfosis" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΕΚΠΑΙΔΕΥΤΙΚΟ ΕΠΙΠΕΔΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,10}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_professional_education">
				<xs:annotation>
					<xs:documentation>ΕΠΑΓΓΕΛΜΑΤΙΚΗ ΚΑΤΑΡΤΙΣΗ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_expertise_field">
                <xs:annotation>
                    <xs:documentation>ΑΝΤΙΚΕΙΜΕΝΟ ΚΑΤΑΡΤΙΣΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_subject_area">
                <xs:annotation>
                    <xs:documentation>ΘΕΜΑΤΙΚΟ ΠΕΔΙΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_subject_group">
                <xs:annotation>
                    <xs:documentation>ΘΕΜΑΤΙΚΗ ΕΝΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_education_agency">
                <xs:annotation>
                    <xs:documentation>ΕΙΔΟΣ ΦΟΡΕΑ ΚΑΤΑΡΤΙΣΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_education_date_from">
                <xs:annotation><xs:documentation>ΔΙΑΡΚΕΙΑ ΚΑΤΑΡΤΙΣΗΣ ΑΠΟ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_education_date_to">
                <xs:annotation><xs:documentation>ΔΙΑΡΚΕΙΑ ΚΑΤΑΡΤΙΣΗΣ ΕΩΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_duration">
                <xs:annotation><xs:documentation>ΔΙΑΡΚΕΙΑ ΣΕ ΩΡΕΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_education_year">
                <xs:annotation><xs:documentation>ΕΤΟΣ ΑΠΟΚΤΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_fl1">
                <xs:annotation>
                    <xs:documentation>ΞΕΝΗ ΓΛΩΣΣΑ 1</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_fl2">
                <xs:annotation>
                    <xs:documentation>ΞΕΝΗ ΓΛΩΣΣΑ 2</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_fl3">
                <xs:annotation>
                    <xs:documentation>ΞΕΝΗ ΓΛΩΣΣΑ 3</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_fl4">
                <xs:annotation>
                    <xs:documentation>ΞΕΝΗ ΓΛΩΣΣΑ 4</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_pc">
				<xs:annotation>
					<xs:documentation>ΓΝΩΣΗ ΥΠΟΛΟΓΙΣΤΩΝ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_pc_other">
                <xs:annotation>
                    <xs:documentation>ΓΝΩΣΗ ΥΠΟΛΟΓΙΣΤΩΝ ΑΛΛΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Ε3 -->
            <xs:element name="f_proslipsidate" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΠΡΟΣΛΗΨΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_proslipsitime" nillable="false">
                <xs:annotation><xs:documentation>ΩΡΑ ΕΝΑΡΞΗΣ ΕΡΓΑΣΙΑΣ (κατά την πρώτη ημέρα πρόσληψης) (HH24:MM)</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-1][0-9]|2[0-3]):([0-5][0-9])"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_apoxwrisitime" nillable="false">
              <xs:annotation>
                <xs:documentation>ΩΡΑ ΑΠΟΧΩΡΗΣΗΣ ΑΠΟ ΤΗΝ ΕΡΓΑΣΙΑ (κατά την πρώτη ημέρα πρόσληψης) (HH24:MM)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="([0-1][0-9]|2[0-3]):([0-5][0-9])"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_orario" >
                <xs:annotation>
                    <xs:documentation>ΏΡΕΣ ΕΝΑΡΞΗΣ ΚΑΙ ΛΗΞΗΣ ΕΡΓΑΣΙΑΣ ΗΜΕΡΕΣ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_wresexternal">
				<xs:annotation>
					<xs:documentation>ΠΡΟΓΡΑΜΜΑ ΕΡΓΑΣΙΑΣ ΜΕ ΕΠΙΣΥΝΑΠΤΟΜΕΝΟ ΑΡΧΕΙΟ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_week_hours" nillable="false">
				<xs:annotation>
					<xs:documentation>ΩΡΕΣ ΕΡΓΑΣΙΑΣ ΕΒΔΟΜΑΔΙΑΙΩΣ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{3}|[0-9]+)(,[0-9])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_orariodialeima" >
                <xs:annotation>
                    <xs:documentation>ΏΡΕΣ ΔΙΑΛΕΙΜΜΑΤΟΣ - ΔΙΑΚΟΠΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eidikothta" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΕΙΔΙΚΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,6}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_proipiresia" nillable="false">
                <xs:annotation><xs:documentation>ΠΡΟΥΠΗΡΕΣΙΑ ΣΕ ΕΤΗ</xs:documentation></xs:annotation>
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_apodoxes" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΣΥΝΟΛΟ ΜΕΙΚΤΩΝ ΑΠΟΔΟΧΩΝ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{1,3}\.([0-9]{3}\.)*[0-9]{3}|[0-9]+)(,[0-9][0-9])"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_hour_apodoxes" nillable="false">
				<xs:annotation>
					<xs:documentation>ΩΡΟΜΙΣΘΙΟ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1,3}\.([0-9]{3}\.)*[0-9]{3}|[0-9]+)(,[0-9][0-9])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_protiergasia" nillable="false">
				<xs:annotation>
					<xs:documentation>ΑΝΑΛΑΜΒΑΝΕΙ ΠΡΩΤΗ ΦΟΡΑ ΕΡΓΑΣΙΑ ΩΣ ΜΙΣΘΩΤΟΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_sxeshapasxolisis" nillable="false">
				<xs:annotation>
					<xs:documentation>ΣΧΕΣΗ ΕΡΓΑΣΙΑΣ (ΤΥΠΟΣ ΑΠΑΣΧΟΛΗΣΗΣ) (0) ΑΟΡΙΣΤΟΥ ΧΡΟΝΟΥ (1) ΟΡΙΣΜΕΝΟΥ ΧΡΟΝΟΥ (2) ΈΡΓΟΥ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_orismenou_apo" nillable="false">
                <xs:annotation><xs:documentation>ΟΡΙΣΜΕΝΟΥ ΧΡΟΝΟΥ ΑΠΟ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_orismenou_ews" nillable="false">
                <xs:annotation><xs:documentation>ΟΡΙΣΜΕΝΟΥ ΧΡΟΝΟΥ ΕΩΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kathestosapasxolisis" nillable="false">
				<xs:annotation>
					<xs:documentation>ΚΑΘΕΣΤΩΣ ΑΠΑΣΧΟΛΗΣΗΣ (0) ΠΛΗΡΗΣ (1) ΜΕΡΙΚΗ (2) ΕΚ ΠΕΡΙΤΡΟΠΗΣ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_xaraktirismos" nillable="false">
				<xs:annotation>
					<xs:documentation>ΧΑΡΑΚΤΗΡΙΣΜΟΣ ΕΡΓΑΖΟΜΕΝΟΥ ΩΣ ΠΡΟΣ ΤΗΝ ΙΔΙΟΤΗΤΑ ΤΟΥ - (0) Εργάτης - (1) Υπάλληλος</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_special_case">
				<xs:annotation>
					<xs:documentation>ΕΙΔΙΚΗ ΠΕΡΙΠΤΩΣΗ - (1) Πρακτική άσκηση σπουδαστών - (2) Ιδ. δικαίου - στενό δημόσιο - (3) Ιδ. δικαίου - ευρύτερο δημόσιο </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_apoalliperioxi">
				<xs:annotation>
					<xs:documentation>ΗΛΘΕ ΑΠΟ ΑΛΛΗ ΠΕΡΙΟΧΗ Ή ΞΕΝΗ ΧΩΡΑ ΕΝΤΟΣ ΤΟΥ ΤΕΛΕΥΤΑΙΟΥ ΕΤΟΥΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_nationalityalli">
                <xs:annotation>
                    <xs:documentation>ΑΝ ΗΛΘΕ ΑΠΟ ΑΛΛΗ ΧΩΡΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9][0-9][0-9]|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kallikratisalli">
                <xs:annotation>
                    <xs:documentation>ΑΝ ΗΛΘΕ ΑΠΟ ΑΛΛΗ ΠΕΡΙΟΧΗ ΔΗΜΟΤΙΚΗ / ΤΟΠΙΚΗ ΚΟΙΝΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{8})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_responsible_position" minOccurs="0">
              <xs:annotation>
                <xs:documentation>ΚΑΤΕΧΕΙ ΘΕΣΗ ΕΠΟΠΤΕΙΑΣ Ή ΔΙΕΥΘΥΝΣΗΣ Ή ΕΜΠΙΣΤΕΥΤΙΚΗ (1) ΟΧΙ (2) ΘΕΣΗ ΜΕ ΔΙΕΥΘΥΝΤΙΚΟ ΔΙΚΑΙΩΜΑ (3) ΘΕΣΗ ΜΕ ΑΠΟΔΟΧΕΣ ΤΟΥΛΑΧΙΣΤΟΝ ΤΟΥ ΕΞΑΠΛΑΣΙΟΥ ΤΟΥ ΕΛΑΧΙΣΤΟΥ ΝΟΜΟΘΕΤΗΜΕΝΟΥ ΜΙΣΘΟΥ (4) ΘΕΣΗ ΜΕ ΑΠΟΔΟΧΕΣ ΤΟΥΛΑΧΙΣΤΟΝ ΤΟΥ ΟΚΤΑΠΛΑΣΙΟΥ ΤΟΥ ΕΛΑΧΙΣΤΟΥ ΝΟΜΟΘΕΤΗΜΕΝΟΥ ΜΙΣΘΟΥ </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_working_time_digital_organization" nillable="false">
              <xs:annotation>
                <xs:documentation>ΨΗΦΙΑΚΗ ΟΡΓΑΝΩΣΗ ΧΡΟΝΟΥ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_full_employment_hours" nillable="false">
              <xs:annotation>
                <xs:documentation>ΣΥΜΒΑΤΙΚΕΣ ΕΒΔΟΜΑΔΙΑΙΕΣ ΩΡΕΣ ΠΛΗΡΟΥΣ ΑΠΑΣΧΟΛΗΣΗΣ</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{2}|[0-9]+)(,[0-9])"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_week_days" nillable="false">
              <xs:annotation>
                <xs:documentation>ΕΒΔΟΜΑΔΙΑΙΑ ΑΠΑΣΧΟΛΗΣΗ (5) ΠΕΝΘΗΜΕΡΟ (6) ΕΞΑΗΜΕΡΟ</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
           
            <xs:element name="f_euelikto_wrario_minutes" nillable="false">
              <xs:annotation>
                <xs:documentation>ΕΥΕΛΙΚΤΗ ΠΡΟΣΕΛΕΥΣΗ (ΛΕΠΤΑ)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{1,3}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_working_card" nillable="false">
              <xs:annotation>
                <xs:documentation>ΚΑΡΤΑ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_dialeimma_minutes" nillable="false">
              <xs:annotation>
                <xs:documentation>ΔΙΑΛΕΙΜΜΑ (ΛΕΠΤΑ)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{1,3}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="f_dialeimma_entos_wrariou" nillable="false">
              <xs:annotation>
                <xs:documentation>ΔΙΑΛΕΙΜΜΑ ΕΝΤΟΣ ΩΡΑΡΙΟΥ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
             <xs:element name="f_topothetisiepistoli" nillable="false">
				<xs:annotation>
					<xs:documentation>ΤΟΠΟΘΕΤΗΣΗ ΜΕ ΣΥΣΤΑΤΙΚΟ ΣΗΜΕΙΩΜΑ ΤΟΥ ΟΑΕΔ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_topothetisioaed" nillable="false">
				<xs:annotation>
					<xs:documentation>ΤΟΠΟΘΕΤΗΣΗ ΜΕ ΠΡΟΓΡΑΜΜΑ ΠΡΟΩΘΗΣΗΣ ΑΠΑΣΧΟΛΗΣΗΣ ΟΑΕΔ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_programaoaed">
                <xs:annotation>
                    <xs:documentation>ΑΝ ΝΑΙ ΜΕ ΠΟΙΟ ΠΡΟΓΡΑΜΜΑ ΟΑΕΔ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9-]{0,10}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_replaceprograma">
				<xs:annotation>
					<xs:documentation>Η ΤΟΠΟΘΕΤΗΣΗ ΑΦΟΡΑ ΣΕ ΑΝΤΙΚΑΤΑΣΤΑΣΗ ΩΦΕΛΟΥΜΕΝΟΥ ΤΟΥ ΙΔΙΟΥ ΠΡΟΓΡΑΜΜΑΤΟΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="f_replaceprograma_afm">
                <xs:annotation>
                    <xs:documentation>ΣΤΟΙΧΕΙΑ ΕΡΓΑΖΟΜΕΝΟΥ ΠΟΥ ΑΝΤΙΚΑΤΑΣΤΑΘΗΚΕ Α.Φ.Μ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{9})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_replaceprograma_amka">
                <xs:annotation>
                    <xs:documentation>ΣΤΟΙΧΕΙΑ ΕΡΓΑΖΟΜΕΝΟΥ ΠΟΥ ΑΝΤΙΚΑΤΑΣΤΑΘΗΚΕ AMKA</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{0,20})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_epidomaoaed" nillable="false">
				<xs:annotation>
					<xs:documentation>ΛΗΨΗ ΕΠΙΔΟΜΑΤΟΣ ΑΝΕΡΓΙΑΣ ΑΠΟ Ο.Α.Ε.Δ. (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_epidoma_ypiresia_oaed">
                <xs:annotation>
                    <xs:documentation>ΑΝ ΝΑΙ ΜΕ ΠΟΙA ΥΠΗΡΕΣΙΑ ΟΑΕΔ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{6})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_sk_protocol">
                <xs:annotation>
                    <xs:documentation>ΣΥΜΠΛΗΡΩΜΑΤΙΚΟΣ ΠΙΝΑΚΑΣ ΠΡΟΣΩΠΙΚΟΥ ΑΡΙΘ. ΠΡΩΤ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_sk_date">
                <xs:annotation><xs:documentation>ΣΥΜΠΛΗΡΩΜΑΤΙΚΟΣ ΠΙΝΑΚΑΣ ΠΡΟΣΩΠΙΚΟΥ ΗΜΕΡΟΜΗΝΙΑ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_comments">
                <xs:annotation>
                    <xs:documentation>ΣΗΜΕΙΩΣΕΙΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eponymo_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΕΠΩΝΥΜΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΟΝΟΜΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_idiotita_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΙΔΙΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_dieythinsi_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΔΙΕΥΘΥΝΣΗ ΚΑΤΟΙΚΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="70" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_afm_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΔΙΕΥΘΥΝΣΗ Α.Φ.Μ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element> 
            <!-- END Ε3 -->
            <xs:element name="f_afm_proswpoy" nillable="false">
                <xs:annotation>
                    <xs:documentation>Νόμιμος Εκπρόσωπος(Α.Φ.Μ.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Εντύπου Αρχείο(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="f_foreign_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Νομιμοποιητικών Εγγράφων Πρόσβασης στην Αγορά Εργασίας Πολιτών Τρίτων Χωρών Αρχείο(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
             <xs:element name="f_young_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Βιβιαρίου Ανηλίκου Εργαζομένου Αρχείο(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
           
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnaggeliesE3Type">
		<xs:sequence>
			<xs:element name="AnaggeliaE3" type="AnaggeliaE3Type"  minOccurs="1"  maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ΑΝΑΓΓΕΛΙΕΣ ΠΡΟΣΛΗΨΗΣ Ε3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    <xs:element name="AnaggeliesE3" type="AnaggeliesE3Type">
		<xs:annotation>
			<xs:documentation>ΑΝΑΓΓΕΛΙΕΣ Ε3</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
